---
layout: default
---
<div class="container with-sidebar">
    <main class="main-content">
        {{ content }}
    </main>
    
    <aside class="sidebar">
        {% if site.adsense.enable %}
        {% include ads.html type="sidebar" %}
        {% endif %}
        
        <div class="sidebar-section recent-posts">
            <h3>Recent Posts</h3>
            <ul>
                {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="sidebar-section categories">
            <h3>Categories</h3>
            <ul>
                {% for category in site.categories %}
                <li>
                    <a href="{{ '/categories/' | append: category[0] | relative_url }}">
                        {{ category[0] }} ({{ category[1].size }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {% if site.adsense.enable %}
        {% include ads.html type="sidebar" %}
        {% endif %}
    </aside>
</div>
